extends ../layout/common

block head
    h1 Users

    a(href="/users/create") Register new Users

    form(action="/users/search", method="GET", class="d-flex")
        input(id="input-search" type="text", name="q", class="form-control")
        button(class="btn btn-primary ml-2") Search

    ul
        each user in users
            li
                span= user.name
                span &nbsp;
                a(href="/users/" + user.id) view

    script.
        var searchInput = document.getElementById('input-search');
        searchInput.value = sessionStorage.getItem('draft');
        searchInput.addEventListener('change', updateSessionStorage);

        function updateSessionStorage() {
            sessionStorage.setItem('draft', searchInput.value);
        }