doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='widtd=devide-width', initial-scale='1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Example App using by ExpressJS
    style.
      .container {
      width: 80 vw;
      height: 100 vh;
      margin: 0 auto;
      }
      
      .big-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      }
  body
    .container
      .header
        | this is a header
      .big-main
        .main-left
          | this is a main-left
        .main-right
          | this is a main-right
      .footer
        | this is a footer
    script.
