<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Example App
        style. 
            .header {
                font-family: Arial, sans-serif;
                color: rgb(0, 10, 10);
            }
            .layout a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                color: rgb(10, 10, 10);
            }

            .layout a:hover {
                color: lightblue;
                font-size: 120%;
            }
    body
        .header
            h1 Welcome to Example App
        .layout
            a(href="/layout") click to view layout
            br
            a(href="/user") click to watching user list
            br
            a(href="/user/create") click to create to a new user
